* {
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.container {
  width: 960px;
  margin: 0 auto;
  background: rgb(8, 231, 56);
  overflow: hidden;
}
header {
  text-align: center;
  width: 880px;
  height: 150px;
  background: rgb(16, 176, 216);
  margin: 0 auto;
}
section {
  margin-left: 41px;
  margin-top: 20px;
  text-align: center;
  width: 545px;
  height: 700px;
  background: rgb(238, 255, 4);
  float: left;
}
aside {
  margin-left: 25px;
  margin-top: 20px;
  width: 305px;
  height: 700px;
  text-align: center;
  background: rgb(145, 1, 189);
  float: left;
}

footer {
  background: rgb(202, 16, 248);
  width: 880px;
  height: 50px;
  margin: 10px auto;
}
